<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCv2SdsNvqFWZdEAV_ojFc1p98RfKvgZoo</string>
	<key>GCM_SENDER_ID</key>
	<string>835950952159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yumminshin.petcare</string>
	<key>PROJECT_ID</key>
	<string>petpick-8250c</string>
	<key>STORAGE_BUCKET</key>
	<string>petpick-8250c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835950952159:ios:02c35740fe8a51cd66736a</string>
</dict>
</plist>